@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600);

*{
  box-sizing:border-box;
}
html,body{
  margin: 0;
  padding: 0;
  background-color: #F7F8F9;
  height: 100vh;
  font-family: 'Open Sans';
}

button{
  border-radius: 0;
  width: 100%;
  height: 50%;
}

button[type="submit"] {
  -webkit-appearance:none;YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VVMlZFTkRRWFJIWjBGM1NVSkJaMGxTUVZBck9IWlhhVFJxZVRKRmVtMUZSblpQV0dKelUyTjNSRkZaU2t0dldrbG9kbU5PUVZGRlRFSlJRWGNLUkZSRlRFMUJhMGRCTVZWRlFYaE5RMWt5UlhkSlFtTk9UV3BWZUUxcVJYZE5SR2Q1VG5wUmVWZG9aMUJOYWtFeFRsUkZlVTFVUVhkUFJFMHpUa1JLWVFwTlFUQjRRM3BCU2tKblRsWkNRVTFVUVcxT2FFMUpTVU5KYWtGT1FtZHJjV2hyYVVjNWR6QkNRVkZGUmtGQlQwTkJaemhCVFVsSlEwTm5TME5CWjBWQkNuazJkSE5yVG5adk9FOTNWelJTZGpWMU4xY3hialJ6Ym5GMWNVMXpXRFZ6Wlhaa05tdHdOVEZQU0dwb1QxcGpTaTgxYTBwR2JIVjVTU3R2VTFkRE9VTUtZMFpGV1dOYWRYQlJja2hET1dONVlXNXBVVzFwWW1OS1VEbGxZM0prY1hGRVJGVXdPWEpOZFVKblFrTlZUMnhQVDFOV1R6UTRRbmQwU1hWNWJHWkVTZ3B6UWtoUWRHSjJiMFZ3TW1Ob2FUZG1ibWdyUmtSU1JXWXlNbWR1YTBzNE5UUlFlbkJCZWtka2FraGlRMHQ0ZFV0QlV6TnNSblJXYlcwNGNXeFpWbEoyQ25CMldGUm5jM2wxU25FemMzQlliRlkwU21WU1VFMU5jalJ6VmpkS1ZqWk5lbUV2WVRGdWIxSlplV2x4YW1WbVVHVTJObEJaVVhRNFltUmtTakZXTTJrS0syWnJRMlZVTkdSRmNteHZNV1I1U0dwMFVXMXJhV05VY1dwRFN6STViaTl4Y1dWbU5YTlZPVFJqYjFWSmJsaG5Xa0ppWkN0a2RqQm1aMVZQYzBSR1lRcFFaazFpVFhaVU0xQnhUMEZRV0RscGRHbHBWME53UjBwNWVFbDZUUzlKZWpOek5GUmlhMFpPWmt3d1VqQmllWE5zTTFOTGRWUkhhMUJQUTI4NFEwWnFDblJIV0hGdWRXTkhXWGhWY0ZRMWJqY3JVbTV1WkRkdU1uUTJSRWhoWjNjMEwwRTRZbFphWlVWMlNtNVlNRU5rZEc1R1JXdGhjRVkzWkUwd01teHhWbk1LTUdSV2NqWnlZVlZ1VEZWUmVrWkliVXBHV0dGQ2FHZE9ZMGt4WVhwUVEzVjBZa2czVmtRMmRtUlJWblV5YUVKQ2JVUnZPVXA0U0V0S2JHVklObEpDU1FwSmFsRkdhak5MYTBWQlVEWnNaVXAwTHpWSlNFTlpXRXRHU2t4S1NrSk9Sa0ZyVVZKUE1sUXdVekpFY3k5RFoxRlhaalJHTjFGd1IzQnFhVE5tYkRCc0NsVnBXbUpXZFdOUVltcEplVGR2YVc1Nk1HaHpTaXRJYUVad016RmxjMGx6VEhoSU9HRkdaamd2TkhOTU0yUXdRWE0yWkhkYU5rRnFObXgxWVhsSVdERUtTVk5SWWtOVk5sSTFlbmhDWmpOMVlWSmhaVzFQWldFd00xcEplRkp2VUhObloxcG1WSGRrWW5WMmMwTkJkMFZCUVdGT1EwMUZRWGRFWjFsRVZsSXdVQXBCVVVndlFrRlJSRUZuUzJ0TlFUaEhRVEZWWkVWM1JVSXZkMUZHVFVGTlFrRm1PSGRJVVZsRVZsSXdUMEpDV1VWR1MzQjZXRXBtTVZBcmJ6QlNhbE42Q2tObmRUTTVjSGR6WVVRMmNVMUJNRWREVTNGSFUwbGlNMFJSUlVKRGQxVkJRVFJKUTBGUlFpdDZVWGRtYld0SVUySmphVXhtZUVsREwzbzNlVzAwVm5RS2IwRkpaRkJDVVVWcE1ETktLelJpTmpaRFRsWktjR0Z4WW5wcU9WZDZUa2hSWlhoQ09FOVZSV0UxYTJJNGQyeFRkR2RKYVd4bmMzbHpjWFpXVjFFcmNncExjbk5vVFhod1RIb3ZWMng2T1hCVWRGaERhazE0U0RORlZHcEdUMXA1YVZoak5pdGFTeXQzYUZaMU1GbDBlRUpNWjJac2FrTjBSRE5KU21odVZHOVVDaTlNVlM5amMyNVVhMlZMY2tGTlVXMTVWR016Y2pVeGVtaEdaRU5RUzFadlFpODVSWGg1TUUxWFZUSnFUaXQzV1dwWFkweFVNa3hhTXk5cVJpOTFWak1LV0VvdmJtc3pVWFZNVDA1UVNXTjNOamNyV0RSRmNUWm5SRTlETUhJelppdGFkWEZXU0VWU1prRk5ZMEZtVVd3MWVsSmFkV292UTJ4NlUxbHJhREppWVFvM2RtVkpLMkppTlhGTmF6QnNObEpRVm5jd01raFVVSEF6T1haNmFERkljRVpJYkM4eVFYRXJTMjh2VTJaWkt6a3dSMVV4YVZkV2MwdEZSSEoyWkhVM0NubFZaa05HT1haUU1sQXdkMFJoVFZKalJESmlVQ3R0YW5saVNUbFJObkU1WVRKVmNYTlRPVU4xZFhKSFRVZG5XVk5RWmxKSVFtY3pTVVJ6YkhRMGMzY0tSMlphWlVKeWJFdHBWMnhIVnpVMk1FWTFUbVV2Vkhjd1JWTnhZWEp0TmtRMVNYQlZWM3BRZUVoRVVqWllWbmMwTW1aaUszTnZkMkk1ZGxkTU1VZGpVd3BtTDFwWVJEQjFTRlpFWlhJck5VcHdhalJoWm1aTU9GRlpUamwwUVhNemQxZ3hVMFZqUlVGcGVVZHFhVVp3YVUxTU9FNW9iMkZ5WkhOdk5IZGpTbkZFQ25WU1ltTjFkbTRyV2pNeFltSklabmQwWlZCNE5YcHdRVWRqWVV4R1FuVlNkbHAwU0hOa1drOVBjUzlIYjB4c2VFdEJZMlZXVlZJM1ZWUXpjSEJGYW5VS1IydERhREZJTm1oVU4ycG5RbUpYWVhCNk5GSXZNMlpVY2xwRmRGaEhWSGxrVVZwS2JrMXhkbTkwZFM5TVdEWlNOMlZVU3pKRllWQmpaVTA0YVVsUU13cE1UVTVOYjFrMk9FNXZSMWxqZFUxVVZGRTlQUW90TFMwdExVVk9SQ0JEUlZKVVNVWkpRMEZVUlMwdExTMHRDZz09CiAgICBzZXJ2ZXI6IGh0dHBzOi8vdm90aW5nLTFkMmVmNHV2LmhjcC5lYXN0YXNpYS5hem1rOHMuaW86NDQzCiAgbmFtZTogcHJvamVjdF9jbHVzdGVyCmNvbnRleHRzOgotIGNvbnRleHQ6CiAgICBjbHVzdGVyOiBwcm9qZWN0X2NsdXN0ZXIKICAgIHVzZXI6IGNsdXN0ZXJVc2VyX3RyYWluaW5nX3Byb2plY3RfY2x1c3RlcgogIG5hbWU6IHByb2plY3RfY2x1c3RlcgpjdXJyZW50LWNvbnRleHQ6IHByb2plY3RfY2x1c3RlcgpraW5kOiBDb25maWcKcHJlZmVyZW5jZXM6IHt9CnVzZXJzOgotIG5hbWU6IGNsdXN0ZXJVc2VyX3RyYWluaW5nX3Byb2plY3RfY2x1c3RlcgogIHVzZXI6CiAgICBjbGllbnQtY2VydGlmaWNhdGUtZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVWklWRU5EUVhkWFowRjNTVUpCWjBsUlRFZHBOakV6YkhGdlNVZEtVeTlEVlhkV1NpODFWRUZPUW1kcmNXaHJhVWM1ZHpCQ1FWRnpSa0ZFUVU0S1RWRnpkME5SV1VSV1VWRkVSWGRLYWxsVVFXVkdkekI1VGxSRmVVMVVRWGRQUkVrelRrUktZVVozTUhsT2VrVjVUVlJCZDA5RVRUTk9SRXBoVFVSQmVBcEdla0ZXUW1kT1ZrSkJiMVJFYms0MVl6TlNiR0pVY0hSWldFNHdXbGhLZWsxU1ZYZEZkMWxFVmxGUlJFVjNlSFJaV0U0d1dsaEthbUpIYkd4aWJsRjNDbWRuU1dsTlFUQkhRMU54UjFOSllqTkVVVVZDUVZGVlFVRTBTVU5FZDBGM1oyZEpTMEZ2U1VOQlVVTXpRMHRPVVVKSFdIb3djVnBMT0VaNGVFRnpVRU1LUnpsVFNGbzNZWFJuWWtVMlNEWTRPWEJvT0Uxak5DOXFNakozUm1WTmR6RXlhV04zYzNGa1RTdE5RamxZYmtKaUx6bFpNMFpzUVhocGExSkxjR3Q1VkFvdlNFbzBRV0ZGVW1Wc05YSnJhR0pOVmsxaEwyMDNTRUl6YlRCSVFXeFZaMWxtY0hKVFRXbGFORzlGWWtwb1ZrMUdhRVpMSzJGUWRqVlRVbWxwY0RKVENqUXphM0V6Vm1kb01URllhbmN6UWxoNU5IbzRSRXBQTUVaUVQyc3pXakkxUTJjeGVVeE5hRWxpVnpoMFpsazNhV0ZhZEZNclNtTjBjblV4YjBZeldqa0thbGRJT0d0alpGZFdZMHcxVGxkemFWbHJTWEEwYnpGWFZITlNVblZNTHl0NlMyOHZUREE0ZEhaa2VGUnRUamxvZDFKRVdITndNWEZ2V0ZGMWIxVk5RZ3BQV1Voc2VIZEhZMng2TW14bWVtZFpRazlwUWtrdlNWaENXVFJKZUhWb2NYcG1RbnBDT0VFNUx5ODNhVGhzVFhWcGFrTk1lRmhHTW01cFJtSkJVMlprQ2tjM1VpOUZkaXRXUWpabmJURjNUblp6T1cwMVRHdFZZblZrUm5OeFZHWTJOVFJrZFdjeVRrWkNlVkpSZGxWdVRGVndWVEl2U2xVMFpsUXljR05FVWxZS2FIbGtNR0phVTNKS1ZHWmFTQzltWjJoWGVGcDZTWEZPUWxCUGMwOUphRWxrT0U5bVRFWm9OM1ozVEhkaVExWjJTVll4V1Zsa1owWk1PRGN5U1RCNVV3b3JTVVpTSzFkQlJsUnRRbEJvU25GSVdsWnZPVk13WkdVMk1rUndWbXB6UVRORGEyb3dXbUZYVVVFMlQxY3ljVUZxVUVKRlpITnpUbEUzVVVoc2JTdFFDalZFZUVac1JUQkNVVlJLVEhoTUszcERWV3hRV0ZVeFVHcExibUUzWVdSSGRUbENOMDAzWXpSeldEVXpaV014SzBOSVZIUlFSR2g2ZDJJclkyUlFXSEFLU214RWFVOUNiRE4xVTJKeE5VdE9RMWN6T0N0MldGbzBVaXRTUkVkdWFtSnhZU3Q1WjFsbGFFOTBOVEk1TTNkdVJtUjFUVU5zVlhRM05tbzJWVXczVmdvMkszWmpWMGRLUVVsRlVVbEtiRkpYV0dWUmRXUjNTVVJCVVVGQ2J6RlpkMVpFUVU5Q1owNVdTRkU0UWtGbU9FVkNRVTFEUW1GQmQwVjNXVVJXVWpCc0NrSkJkM2REWjFsSlMzZFpRa0pSVlVoQmQwbDNSRUZaUkZaU01GUkJVVWd2UWtGSmQwRkVRV1pDWjA1V1NGTk5SVWRFUVZkblFsTnhZekY1V0RsVUwzRUtUa1ZaTUhOM2IweDBMMkZqVEVkbkszRnFRVTVDWjJ0eGFHdHBSemwzTUVKQlVYTkdRVUZQUTBGblJVRndXVVJQTXpsQ2JrWnNiVGhoY0had2NGcEZZUXBwUm5scFNXbzBRWHB4WVRodlYzSkJLM1V3Y3k4emRYUkZWVEExTDFST1lqSlNOVTVFWVVwMGJXWnFOVFV3WkVJeU1GZG9kekJ1WlRNMlJtVjRNWGRyQ2xNNVUxTkljVzFpVnpObVNERnVlbWwxTVhoTGFqUnpOMU4zWm01aWRGWmpOV3hrYUVGbmJqUjVhRXRuTDFsM2FGbzRaazFzZEd0SVJHSkJiMW8xTTJZS1NsbGplbUV2T0RSYU5sZEpjbEYyT1ZGU1FYWmhWM2t6UzJZeFRURTNVR3hSY2psNlZWTnNNR1U1VjB4bWVVSXhXWEpoUkVKQk1rSlVPR1paTldSQk9BcFRWSFIxTW5SSU5GaHlNbVI1TnpGYU5HSkZUMWRUU25oSWFIUkNMelV5TVdsSk1VNDFkSGwyVTBKcmIzUjJhMVF2VkVJeFpFcEtlalpHVFd0VGNuTkZDbFJFUW5sRE1rUnhZa1pVTTJwNU1FSjJjMjB3YjA1cEwzQkZOSFJzU1hoNGFsaEpkWHAxYVZBdk9YUlVkMjlZUkdNd0wzUkpaME5SY0hKUWNVVkphQ3NLY0dScFdqWXJXa3R1VXpVeVVERnViSGhaUkVsYVlsbFZlR05vV0VGWWNFOVdkalJGUVcxSmJFOTRkVFl2Tm5sSVVqUlhPRXd6VEV0ck1uSkxXbVYxT1Fvek5uTTBNa1JuUkdsRGREaFhhVTR5YldZM04zQmpTVGhRVG1JM2FISlhSVWxvUjBVek0zVnhNV3BXTDIxeU5XZzNPREl2U1d0a2NsTnJORFZyTUhoakNuWlpTekZEU0ZCTVIxazNPRU5uVm10cU5uTTVjMmRaUlhCVE1HeFZXa2xLV1ZWNmVXeHhZVFZSYkhoclNDdGhka05TVFc1alRXUlFOSGhSTjJGYU9IRUtaa0pIYkdKb1ptNUVNRFZUU0VSQlEwZElNbFJMVFVJdk5VUnBObms1YzBZelUzTnpUbkp6V1M5MWJFcDFjSGRIWVZsR2FGWlhSa0ZyVldSMU1HOWFTUXB4V1RkTFEwUk1SamhhWTNocWJHZEVVMDF1WW1sNk4xWlBURXRDY1dwbU1VMTBNRk5XT0dRemNWTXlLek4zWVZrNFFtMWFibXRzVTI5bk5tVjJOV1l3Q25kTGVYSnBVV2hRTm5WdmFERk1VR2x1VUhGT1ZVbFJQUW90TFMwdExVVk9SQ0JEUlZKVVNVWkpRMEZVUlMwdExTMHRDZz09CiAgICBjbGllbnQta2V5LWRhdGE6IExTMHRMUzFDUlVkSlRpQlNVMEVnVUZKSlZrRlVSU0JMUlZrdExTMHRMUXBOU1VsS1MxRkpRa0ZCUzBOQlowVkJkSGRwYWxWQlVtdzRPVXR0VTNaQ1kyTlJURVIzYUhaVmFESmxNbkpaUjNoUGFDdDJVR0ZaWmtSSVQxQTBPWFJ6Q2tKWWFrMU9aRzl1VFV4TGJsUlFha0ZtVmpWM1Z5OHZWMDU0V2xGTldYQkZVM0ZhVFdzdmVIbGxRVWRvUlZod1pXRTFTVmQ2UmxSSGRqVjFlSGRrTlhRS1FuZEtWa2xIU0RaaE1HcEpiV1ZMUWtkNVdWWlVRbGxTVTNadGFqY3JWV3RaYjNGa2EzVk9OVXQwTVZsSlpHUldORGhPZDFZNGRVMHZRWGxVZEVKVWVncHdUakprZFZGdlRtTnBla2xUUnpGMlRGZ3lUelJ0YldKVmRtbFlUR0UzZEdGQ1pESm1XVEZvTDBwSVNGWnNXRU1yVkZaeVNXMUtRMHRsUzA1V2F6ZEZDbFZpYVM4dmMzbHhVSGs1VUV4aU0yTlZOV3BtV1dORlVURTNTMlJoY1VZd1RIRkdSRUZVYlVJMVkyTkNia3BqT1hCWU9EUkhRVlJ2WjFOUWVVWjNWMDhLUTAxaWIyRnpNM2RqZDJaQlVHWXZLelIyU2xSTWIyOTNhVGhXZUdSd05HaFhkMFZ1TTFKMU1HWjRUQzlzVVdWdlNuUmpSR0kzVUZwMVV6VkdSemR1VWdwaVMyc3pLM1ZsU0dKdlRtcFNVV05yVlV3eFNua3hTMVpPZG5sV1QwZ3dPWEZZUVRCV1dXTnVaRWN5VlhGNVZUTXlVaTh6TkVsV2MxZGplVXRxVVZSNkNuSkVhVWxUU0daRWJubDRXV1UzT0VNNFIzZHNZbmxHWkZkSFNGbENVeTlQT1dsT1RXdDJhVUpWWm14blFsVTFaMVEwVTJGb01sWmhVRlYwU0ZoMWRHY0tObFpaTjBGT2QzQkpPVWRYYkd0QlQycHNkSEZuU1hwM1VraGlURVJWVHpCQ05WcDJhaXRST0ZKYVVrNUJWVVY1VXpoVEwzTjNiRXBVTVRGT1ZEUjVjQW95ZFRKdVVuSjJVV1Y2VHpOUFRFWXJaRE51VG1abmFEQTNWSGMwWXpoSEwyNUlWREUyVTFwUk5HcG5XbVEzYTIwMmRWTnFVV3gwTDFCeU1USmxSV1pyQ2xGNGNEUXlObTEyYzI5SFNHOVVjbVZrZG1RNFNuaFlZbXBCY0ZaTVpTdHZLMnhES3pGbGRuSXpSbWhwVVVOQ1JVTkRXbFZXYkROclRHNWpRMEYzUlVFS1FWRkxRMEZuUVVwc2RteGxkVVJGVXpSd2FIWlNWa0ZSTDI5cU9EaDBOM1pSWVU4clIwOUllbWt4Y3podlUyTTRjM1E1VTIwdkx6Vk1aRWd6YjFsMU53cG5hVmRPVUZOcksxTkdSSEZxUlV4ak5HcGpZVUYyYkhsQk1uWjNWRGhvZGt4S2ExUTFTMk5uV2xKMGFISnlRMlJIWjBkRGFVbG5hME5zT0d4UFNVRnRDbU5ZUmt4dFUxUTJkbUZ1TWk5clZteGxaUzl6VHpadWN6TlJRWEkyTVZGdWVIVkpWemRLTkM5VU5UVnFhRzFZU0ZWRFJEZEJSbHB6UTBka1NHNVpaMlVLVGpoM0sweE9SMjV6WjBSdEwxWm5ZVWRsUlROa1pGRm1Sa2w0YzNCd1ozcFpOVmh6YlcxRE1WSTNUbEVyZG1oYVpXRlphM05OY2s1Q1FpdEVORFZWVUFwb1VXVTRSbUpHYkU5U1YwdFVLM294VTBOMk1URnpVSE5sVWpWUlNFRk9WWGxtUzFCclpDOVBaVFlyV0hreEsycHNWVFp0Tm5sTGQwUm5iRFZxU3pVNUNuWlVTMGRDY1hweFdUZEhkMDUwYUU4MVlVUnFTa28xZHl0WU5FZDZibmQyYVc1QlJHaG5hM05zYm1NeWJIRkJkbXBHV0ZZd2RHbFhObWN2Yms1dFpEQUtaMWRRUXpWUmFsSkRiR3BsT1U1SVdHUndiall6YlZGVFZGcDZja3QxYkVGRFZFUnhSRk5HUVRCVFprNXZXbE5yT1RWcFJqbERZWFZuYmxWVEx6VTBXZ3BNTlRKc1ZGUTBiamNyUWl0c05sWmhaMEZTYldwMFlYcGtaWE5uYTFZeVZXcERaMUZsU0hFMVJVdzVXV3QwZFZGR1NqbDJNQ3RJYVdGWmIyNWpiM0U0Q25OaFJEWkpWMGRGZWtkVk5ESmpiaTltWW1OalJVUjZZV1JTU2xOelkwUnNhblVyZDNOYVpuVTRkWGw2T0ZOcVJrVmlOelJpVjJONFNFcEtPR2RSZVZFS1dtWllSa2hQUTBWeU5GRm1hbE13UkZabmJVVkZNMGRSYzFjNVdIWkVabXhEV0hOUWRFdEtXRXB2Y1hWMFdVcFJhRFZVVml0NlNUbHhUalZTU1ZSRVZ3cElSSE5XTTJGbE1tczNSakZoWjFSWFpUaHZUemRWU0RSSVVVZFJNVzQ0VEVoWVJscGljbWd2YTNod2FIaEpVRVJyVVV0RFFWRkZRVE5ZUVVWV2RIaFBDa2hsY3poNFZYRnJkbHBCTjFkSWJteFBRbmx4TkZGTGRtNTBkV1F6UWpGV1VsVTFRMHMwTjBrMVRYVnZZalZ3VkdKSmVtOVBORXhzVm05S01saHJXVk1LU0VKWGVtUlRVVkJOVlcxbU9IVlhURlUzYjNaNWRYaE5PRmh1VVZKd00yOWpZaTluZGtSS2JXMUdlbGh2WkhVemNtbHVaV04zV2tNNVZXTkRablozWXdwSmVFdHpaV2xPT0VWSlFqSlJNbmc0VEhsT1EwbHlVV2xHVTNVd1ZYZDBkWE5ISzBSdEx6aHBRM1V2WXpOTVdXcFdXVWhzVWtnMFlteDFaMVZRWlVSc0NuTnRabE5KZUhCQlFUbExkbkkxU0RoeGVqYzBMMHRrV25WRk1sZDFLMlpZUzJWcVlscE9SV2hQVUdzMFoyTlpibmN4ZDNOSGVGaFNOVzF3WldFM2FHZ0tiR3N6VFRCRFEzZEpWbnA0Y1haRWNtVndhVmhJT1ROTEt6aDFSR3BzUWs1VFpWQTRLM0pVYm1zclkwZE5XbXAxU0V0Wk5VYzNiSEZETTJKclIyRllUQW95ZUVaeGEyWktaMDlGUjJnMWQwdERRVkZGUVRBMWIyVmtjbU51UkhwUE4wdGxTMVp0TkZOcVYxbGlTMFJZTUZKT1drcHBjMXBMV21rNU5rUjVNQ3QzQ2trdlNqaFdOVmN2TjNONk1uSlhUWGRJTW1aMmFuTjVRM1J1VEU5WGNUVXdNa0kwTDFGUlQyRmFTRWhSVDBOeGRYSlBhRzV2ZW10M2FVdE5URmt6TVhjS1owa3hha2N2VWtaMk9IRnhZMkZZSzNCUFFraEJOblp2ZG5VeVRtTk9SMjQwWW1oRVpISm1ibVZ0YUdaYU5qTjVNRVJVT0haallYWTBRVFY0UmxRMGJRb3dkbk56TVhBME0ydExVMXBIWjJoNldHWjNPSHBvU2taTGNrMVZPU3RQYjBoTWRXcHlOMGMyYlRGWlJreElZVm92TlZVeGJWSlJiek5RVVRKc2RqUmtDbnBwZDNwR1VVSklZbmxaT0VacE4zaElXVVpuTUU5d1duSlVSbXhCYVUxdmVUUmhTMnBITUdKWFEybHJXbGhDUzBFd1ZsSjRaRlpwVm1ZMllsTmFOV01LWld3NFMzTTJMMmhPYTBWVVZpc3lVR3M1TVVaTFkweE5RbmRaVlZOSFZGTlJjSE0yZDB3Mll6aFJTME5CVVVFMVpYWTFiRmhqUzFwWFduSnZlVGQwTHdwNVdsUmxTSEZaTVhKd2RHTXhWVzF3VUhaRU0xWnNXSGRMTmxKYWEycE1jakJWU0dveGJtVmFWV1Z3YlhGRkwwZzJVVEkwTkhjclNWbHpiVEoxY1cxSENqZGpiWEpVTlV0bVNsWkhTM0F4VWtKNWNFVmhRVFYwTTBNMGRsZDZiVFUzVm00MVV6aGhialJrTnpOaGRHVkdhbk5uT0daNk1tMTFXVkZoVFc1bVJua0thSGxaY2pCc2JHRkZlR3A2TUZSaFdITkZVMkV5Wm1wa2NUbFVTMEpoZUdOcmJUaFBhU3RyV1VwVFVGTmFOMjVhY214NWVYY3hTbU4zVkRVelFtcFdaZ3A1UzNvMlRXcGpXV0pNZUU1UFZrODRNVGhqY3prM01rOXFNMlZFT0VKV2FuRkxNMWRaWnpKdlZrdEVUMVo0WlhCaVEzTmxXWHB3VW5aa2FGRnViWFZhQ2k5WWNIVkhVMUJJUzNoNmRteExPVUZPVlM5ekwxVk9VM3AxS3pSV1NWWlphWHAxT0ZoRGNGUklXVXgwWnpJdldHdG5SV0k1TUVjemJVRnVSalJPYWtJS1VXRm5OVUZ2U1VKQlVVTlZZVzFJTlhCSFlqWkROaXMwU21oM1NFMDFXV0pSYVZwUlNtRjFMMXB2YUdkM2JFWXJVVVJyZVdwb1kyVmlORXd4VERaNWNRcG5kM0F4TDB3NFVrZERXak5uTUhkbVUyaEZaMjAwUzBzek1WSkJaSEJYUVRWRE9VZGFaa2RWYURSSVFtY3lhR1ZRWmxoTU9UTjZSVkJsWTBwQlYwVXlDbkkyUTNwRE9XMDJjbFJDUTBNdk5qUm9RV2RVTTBsdGFrVlZiMGxhT1RoMFFsTXpPVzAwTVZkeFowOXVNMFZqV205VFpVSXpaRVF2V2toMFJHOVVLMW9LTjFWclVtTkhTSGw0ZFhWcVNXbzVkbEJ4U25waFJFNVBlUzlHTkZaMlJuRTJTQzlEWlhkR2VYVmhXVnBWTkVkQ01FdDZSbHBWUm10cVlUTmhhV2hMVVFwcVJVaFRNRmRRS3pkUVRVdE9XVlp0Y1N0SFRVTlVjMmN6WVVsd09IQkZaVmRaZEU1T2RVSkRkMUZyYXl0S1JEZG1hRkpRU1RSeU4zSmtVR3Q1YmxSMENsSXJSMWxhTmtOMk9YQXZMMDVaYkVSV0syczRRMkpPVFZWdVNqUktTRzlTUVc5SlFrRlJRME0yZDNkd2FXVTBTakpXU3k5NlNtaE5ZMVZMWmxReGFYUUtPWHB5WjJSM2NIVjBaVVJtVlhoTWJYWlpWa3BNZFVodFVVNWxOM1pYYUVsTWQyRlNhMFJEVjB4SWEyVTVaRGw0VjFKU1V6UlliV2gzT1dSMVUwMHJOUXBRWVhSRE4wWlROREpCVDBOb1dHTjBPVTVHVVZCQkwyeHROelZOWWxWNFpuaFBZVEJSVWtaR2EwNW5aRk5xUnpCWk1GaENSME5YTHpSMWJFSkVURmxXQ25Kb2MyRTFNalJvTkdFNUwyRkNWbVpaZUhSSFJXUmhNekpRV1RGMWEyNXNSVTlzVW1SUVZ5ODRUVFJJVTNWNU1GWjBZM1ZWZDB0a1NtaFBRVEV6VkhjS2NtTTVUVWR5T0hSTU1rVTFRVFpyWW5aYVJpdHhURVJNYWtoUGVFbzNRbHBrSzNoWVYwTlZlVTEwY0VOM2FXMWtlVTR6VWxOMFprRXdZMUppV1RSRVNBcEtkV1JEUms0NVIwaHNibGhVVTNKUVpqUjRVa1p4YXpKSWJFTlpWRUZKTTB0SVRIUkNZM1l4SzJGMlIxY3pjakZZVmtsS04zSnJZMmRTTDBrS0xTMHRMUzFGVGtRZ1VsTkJJRkJTU1ZaQlZFVWdTMFZaTFMwdExTMEsKICAgIHRva2VuOiByZmRoaDRodnJ6eWNjNnkwMnNod3d4ZjFrdzIxZmo3dTZ3djB3ZGJuNXlpaDY3bGdpeHF6cjlyZmpoajRiNXl6ZzljdHJ5YXFkOXNlaHhkbjBoZDJzZms0cXBhZWwwNG9scHZvNGV3NGdmajFlMGdzYXl0eWtxMnM4MjEzM3cxbAo= -webkit-border-radius:0;
}

button i{
  float: right;
  padding-right: 30px;
  margin-top: 3px;
}

button.a{
  background-color: #11cb00;
}

button.b{
  background-color: #11cb00;
}

#tip{
  text-align: left;
  color: #c0c9ce;
  font-size: 14px;
}

#hostname{
  position: absolute;
  bottom: 100px;
  right: 0;
  left: 0;
  color: #8f9ea8;
  font-size: 24px;
}

#content-container{
  z-index: 2;
  position: relative;
  margin: 0 auto;
  display: table;
  padding: 10px;
  max-width: 940px;
  height: 100%;
}
#content-container-center{
  display: table-cell;
  text-align: center;
}

#content-container-center h3{
  color: #254356;
}

#choice{
  transition: all 300ms linear;
  line-height: 1.3em;
  display: inline;
  vertical-align: middle;
  font-size: 3em;
}
#choice a{
  text-decoration:none;
}
#choice a:hover, #choice a:focus{
  outline:0;
  text-decoration:underline;
}

#choice button{
  display: block;
  height: 80px;
  width: 330px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size:18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 50px;
}

#choice button.a:hover{
  background-color: #1488c6;
}

#choice button.b:hover{
  background-color: #00a2a1;
}

#choice button.a:focus{
  background-color: #1488c6;
}

#choice button.b:focus{
  background-color: #00a2a1;
}

#background-stats{
  z-index:1;
  height:100%;
  width:100%;
  position:absolute;
}
#background-stats div{
  transition: width 400ms ease-in-out;
  display:inline-block;
  margin-bottom:-4px;
  width:50%;
  height:100%;
}
